html, body
{
}

h1.saloon
{
    font-family: 'Ewert', cursive;
    text-align: center;
}

h1.saloon > span
{
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#planning .hero-unit > div
{
    max-width: 500px;
    margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .hero-unit > h1
    {
        font-size: 230%;
    }   
}


@media (max-width: 767px) {
    .hero-unit > h1
    {
        font-size: 210%;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    .hero-unit > h1
    {
        font-size: 180%;
    }
}

#planning ol
{
    margin: 0;
    padding: 0;
}

#planning ol > li
{
    list-style: none;
    margin-bottom: 5px;
}

#planning ol > li > a
{
    display: block;
    text-align: center;
}
